#container-header {
  --display: flex;
  --gap: 10px;
  --align-items: center;
  --padding-bottom: 15px;
}
#container-header_step {
  --padding-top: 44px;
}
#container-step {
  --display: flex;
  --padding-bottom: 20px;
  --border-bottom: 2px solid #1eea00;
  --padding-right: 25px;
}
#container-step_title {
  --display: flex;
  --gap: 10px 10px;
}
ion-icon {
  --width: 2.5rem;
  --height: 2rem;
  --padding-left: 15px;
}
ion-text {
  --font-family: Monserrat;
  --padding-left: 44px;
}
ion-img {
  --padding-top: 25px;
  --padding-left: 30px;
}
.oink {
  --width: 50%;
  --padding-top: 70px;
}
.subtitle {
  --padding-top: 85px;
  --font-family: AvenirLTStd-Roman;
  --font-size: 16px;
  --opacity: 100%;
  --color: #757575;
}
.title {
  --padding-top: 85px;
  --font-family: Monserrat;
  --font-size: 16px;
  --opacity: 100%;
}
