#container-login {
  --top: 15%;
  --position: relative;
}
#container-login_logo {
  --padding-bottom: 30px;
}
#container-login_text {
  --padding-bottom: 60px;
}
#container-login_boton {
  --padding-top: 65px;
  --position: relative;
}
ion-img {
  --width: 50%;
  --left: 25%;
  --position: relative;
}
ion-text {
  --font-family: Monserrat;
  --font-size: 18px;
  --text-align: center;
}
ion-button {
  --font-family: Monserrat;
  --font-size: 16px;
  --display: flex;
  --order: 2;
  --padding: 3px;
}
.no-scroll {
  --overflow: hidden;
}
